{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Capy Gestão{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body class="bg-neutral text-gray-800 min-h-screen flex flex-col">
    <header>
        <nav class="navbar">
            <div class="text-2xl font-bold tracking-wide text-center">
            <a href="{% url 'home' %}">
                {% if system_holder_logo %}
                    <img src="{{ system_holder_logo.url }}" alt="Logo de {{ system_holder_name }}" class="client-logo-img">
                    <span class="system-name-small">{{ system_holder_name }}</span>
                {% else %}
                    <strong class="text-blue-400">{{ system_holder_name|default:"CAPY GESTÃO" }}</strong>
                {% endif %}
            </a>
            </div>
            <div class="nav-menu">
                {% if user.is_authenticated %}
                    <span>Olá, {{ user.username }}!</span>
                    <form class="logout-form" action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary">Sair</button>
                    </form>
                {% else %}
					<a href="{% url 'login' %}" class="btn btn-primary">Entrar</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="mt-auto text-sm text-gray-400">
            <p>© 2026 Capy Gestão. Todos os direitos reservados.</p>
            <p>Desenvolvido por <a href="https://www.capybird.com.br" class="text-blue-400">Capybird</a></p>
        </div>
    </footer>
</body>
</html>