<!-- templates/confirm_delete.html -->
{% extends 'app_base.html' %} {# <<< MUDANÇA IMPORTANTE #}
{% block title %}{{ title }} | Capy Gestão{% endblock %}

{% block app_content %} {# <<< Preenchendo o bloco do app_base #}
<div class="form-container">
    <h2>{{ title }}</h2>
    <p>{{ message }}</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-actions">
            <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
            <a href="{{ success_url }}" class="btn btn-cancel">Cancelar</a>
        </div>
    </form>
</div>
{% endblock app_content %}