<!-- templates/form_template.html -->
{% extends 'base.html' %}
{% block title %}{{ title }} | Sistema de Gestão{% endblock %}

{% block content %}
<div class="form-container">
    <h2>{{ title }}</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        
        {{ form.as_p }}

        <div class="form-actions">
            <button type="submit" class="btn">Salvar</button>
            <a href="{% url 'management_list' %}" class="btn-cancel">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}