{% extends 'app_base.html' %}
{% load static %}
{% block title %}{{ title }} | Capy Gestão{% endblock %}

{% block app_content %}

<div class="form-container">
    <h2>{{ title }}</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions">
            <a href="{{ request.META.HTTP_REFERER|default:cancel_url }}" class="btn btn-cancel">Cancelar</a>
            <button type="submit" class="btn btn-save">Salvar</button>
        </div>
    </form>
</div>
{% endblock app_content %}