<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %}Bem-vindo | Sistema de Gestão{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="welcome-section">
    <h1>Bem-vindo ao Capy Gestão</h1>
    <p>A solução completa para gerenciar sua empresa com eficiência e simplicidade.</p>
    <p>Acesse o sistema para visualizar seus dashboards, gerenciar contatos, vendas e muito mais.</p>
    <!--<a href="{% url 'login' %}" class="btn btn-large">Acessar o Sistema</a>-->
</div>
{% endblock %}